{% extends "vocab/base.html" %}

{% block content %}
<div class="max-w-2xl space-y-6">
    <h2 class="text-2xl font-semibold">Comprehensible input is one of the fastest ways to learn your target language.
    </h2>

    <h2 class="text-2xl font-semibold">But what do you do as a beginner, when nothing is comprehensible?</h2>

    <h1 class="text-5xl font-bold"><em>Transparent Input</em> overlays native videos with core vocabulary, kickstarting
        your understanding.</h1>


    <a href="{% url 'language-select' %}" class="btn btn-primary btn-xl">Find videos</a>

    <p>Free, no sign-up</p>
</div>
{% endblock %}